<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>员工登陆</title>

    <link rel="stylesheet" type="text/css" href="/easyui-1.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui-1.5/themes/icon.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/work/login.css">-->

    <script type="text/javascript" src="/easyui-1.5/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui-1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js/test.js"></script>
</head>
<body>
<input id="dd"/>
<script>
    $(function () {
        $('#dd').datebox().datebox('calendar').calendar({
            firstDay: 1,
            validator: function (date) {
                console.log('1');
                var now = new Date();
                var d1 = new Date(now.getFullYear(), now.getMonth(), now.getDate());
                var d2 = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 10);
                // return d1 <= date && date <= d2;
                return false;
            }
        });
    });
</script>
</body>
</html>
