<script type="text/javascript" src="/js/work/updatePassword.js"></script>

<link rel="stylesheet" type="text/css" href="/css/work/updatePassword.css">


<div id="div-addDayOff">

    <div class="div-date">
        <p>当前密码: <input type="text" id="password" class="textBox"></p>
    </div>

    <div class="div-date">
        <p>新的密码: <input type="text" id="newPassword" class="textBox"></p>
    </div>

    <div class="div-buttons">
        <a href="#" class="easyui-linkbutton" onclick="submit()">提交申请</a>
        <a href="#" class="easyui-linkbutton" onclick="reset()">重置选项</a>
    </div>

</div>

