<script type="text/javascript" src="/js/admin/dayOffs.js"></script>

<link rel="stylesheet" type="text/css" href="/css/admin/dayOffs.css">

<!--<div id="tb" style="padding: 5px">-->

    <!--<div style="padding: 0 0 0 7px;color:#333;">-->
        <!--账号: <input id="username" type="text" class="textbox" style="width:120px;height: 18px;">-->
        <!--姓名: <input id="realName" type="text" class="textbox" style="width:120px;height: 18px;">-->
        <!--部门: <input id="department" style="width:120px;height: 20px;">-->
        <!--性别: <input id="sex" type="text" class="textbox" style="width:120px;height: 20px;">-->
        <!--<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="load()">搜索</a>-->
        <!--<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="reset()">清空</a>-->
    <!--</div>-->

<!--</div>-->

<table id="dayOffs"></table>
