<script type="text/javascript" src="/js/admin/workers.js"></script>

<link rel="stylesheet" type="text/css" href="/css/admin/workers.css">

<div id="tb" style="padding: 5px">

    <div style="margin-bottom: 5px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
    </div>

    <div style="padding: 0 0 0 7px;color:#333;">
        账号: <input id="username" type="text" class="textbox" style="width:120px;height: 20px;">
        姓名: <input id="realName" type="text" class="textbox" style="width:120px;height: 20px;">
        部门: <input id="department" type="text" class="textbox" style="width:120px;height: 20px;">
        性别: <input id="sex" type="text" class="textbox" style="width:120px;height: 20px;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="load()">搜索</a>
    </div>

</div>

<table id="workers"></table>
