<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>员工登陆</title>

    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/work/login.css">

    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js/work/login.js"></script>
</head>
<body>
<div id="login">
    <p>员工账号: <input type="text" id="username" class="textBox"></p>
    <p>登录密码: <input type="password" id="password" class="textBox"></p>
</div>

<div id="login-button">
    <a href="#" id="worker-login" class="easyui-linkbutton">员工登陆</a>
    <a href="#" id="admin-login" class="easyui-linkbutton">管理员登陆</a>
</div>

</body>
</html>
