<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>章节列表</title>
</head>
<body>
<div th:each="chapter : ${chapters}">
    <table border="1">
        <tr>
            <th>章节名称</th>
            <td th:text="${chapter?.chapterName}"></td>
        </tr>
    </table>
    <a th:href="@{'/chapter/'+${chapter.chapterId}+'/lessons'}">章节详情</a>
    <input type="hidden" name="chapterId" th:value="${chapter?.chapterId}"/>
</div>

</body>
</html>
