<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>课程列表</title>
</head>
<body>
<div th:each="course : ${courses}">
    <table border="1">
        <tr>

            <th>课程名</th>
            <td th:text="${course?.courseName}"></td>
        </tr>
        <tr>
            <td>课程介绍</td>
            <td th:text="${course?.introduction}"></td>
        </tr>
        <tr>
            <td>种类</td>
            <td th:text="${course?.type}"></td>
        </tr>
    </table>
    <a th:href="@{'/course/'+${course.courseId}+'/chapters'}">了解详情</a>
    <input type="hidden" name="courseId" th:value="${course?.courseId}"/>
</div>

</body>
</html>
