<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>员工登陆</title>
	<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
	<script type="text/javascript" src="/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js" ></script>
	<script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
	<!--<form id="login" method="post">-->
    <!--<p>账号: <input type="text" name="username" class="easyui-validatebox"></p>-->
    <!--<p>密码: <input type="password" name="password" class="easyui-validatebox"></p>-->
   <!--<input type="submit" value="登陆">-->
    <table id="users"></table>
</form>
</body>
</html>
