<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="paper/html; charset=UTF-8"/>
    <title>登录认证</title>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">

        // function postData() {
        //     alert('error!')
        // }
        //
        // function postJson() {
        //     var data = {
        //         username: $('#username').val(),
        //         password: $('#password').val()
        //     };
        //     console.log(data)
        //     $.ajax({
        //         type: 'POST',
        //         contentType: 'application/json',
        //         url: '/user/login',
        //         data: JSON.stringify(data),
        //         success: function (response) {
        //             console.log(response);
        //             $('#error').attr('text', "red")
        //             // window.location.href = "main?id=111"
        //         },
        //         error: function () {
        //             alert('error!')
        //         }
        //     });
        // }

    </script>
</head>
<body>

<form action="/user/login" method="post">
    账号:<input id="username" type="text" th:value="${user?.username}" name="username"/></br>
    密码:<input id="password" type="password" th:value="${user?.password}" name="password"/></br>
    <input type="submit" value="登陆"></form>
</form>
<p  value="" th:text="${error}"/>
<br/>
</body>
</html>
