<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>登录认证</title>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">

        function post() {
            var data = {
                username: $('#username').val(),
                password: $('#password').val()
            };
            window.sessionStorage.setItem('ddv', 'ddv')
            var name = window.sessionStorage.getItem('ddv')

            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/user/login',
                data: JSON.stringify(data),
                success: function (response) {
                    console.log(response);
                    $('#p1').text("登录失败!")
                    // window.location.href = "main?id=111"
                },
                error: function () {

                }
            });
        }

    </script>
</head>
<body>

<form action="/user/login" method="post">
    账号:<input id="username" type="text" th:value="${user?.username}" name="username"/></br>
    密码:<input id="password" type="password" th:value="${user?.password}" name="password"/></br>
    <input type="submit" value="登陆">
</form>
<a href="/pages/register">注册</a>
<p id="p1" th:text="${error}"/>
</body>
</html>
