<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>登录认证</title>
</head>
<body>

<form action="/user/login" method="post">
    账号:<input id="username" type="text" th:value="${user?.username}" name="username"/></br>
    密码:<input id="password" type="password" th:value="${user?.password}" name="password"/></br>
    <input type="submit" value="登陆">
</form>
<a href="/pages/register">注册</a>
<a href="/pages/admin/login">管理员登录</a>
<p th:text="${error}"/>
</body>
</html>
