<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>任务列表</title>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">

        function commit() {
            var data = {
                taskId: $('#taskId').val(),
                code: $('#code').val(),
            };
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/code/commit',
                data: JSON.stringify(data),
                success: function (response) {
                    $('#msg').text(response.msg)
                },
                error: function () {
                    $('#msg').text("提交失败!")
                }
            });
        }

    </script>
</head>
<body>
<table border="1">
    <tr>
        <th>任务名称</th>
        <td th:text="${task?.introduction}"></td>
    </tr>
    <tr>
        <th>时间限制</th>
        <td th:text="${task?.maxTime}+ms"></td>
    </tr>
    <tr>
        <th>内存限制</th>
        <td th:text="${task?.maxMemory}+KB"></td>
    </tr>
    <tr>
        <th>当前训练进度</th>
        <td th:text="'第'+${task?.taskIndex}+节"></td>
    </tr>
</table>
代码:</br>
<textarea id="code" style="width:500px;height:200px;border:1;background-color:antiquewhite"></textarea>
</br>
<button type="button" value="提交" onclick="commit()">提交代码</button>
<p id="msg" th:text="${error}"/>
<input type="hidden" id="taskId" th:value="${task?.taskId}"/>
</body>
</html>
