<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>任务列表</title>
</head>
<body>
<div th:each="task : ${tasks}">
    <table border="1">
        <tr>
            <th>任务名称</th>
            <td th:text="${task?.introduction}"></td>
        </tr>
        <tr>
            <th>时间限制</th>
            <td th:text="${task?.maxTime}+ms"></td>
        </tr>
        <tr>
            <th>内存限制</th>
            <td th:text="${task?.maxMemory}+KB"></td>
        </tr>
    </table>
    <a th:href="@{'/task/'+${task.taskId}}">点击练习</a>
</div>
<input type="hidden" name="taskId" th:value="${task?.taskId}"/>
</body>
</html>
